.footer {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: $black;
    
    &__top {
        .footer__header-container {
            padding-top: 72px;
            padding-bottom: 40px;
            border-bottom: 0.5px solid $white;
            margin-bottom: 31px;
            justify-content: right;

            background-image: url('./../../images/footer-logo.svg');
            background-position: left calc(50% + 15px);
            
            .header__item {
                color: $white;
            }

            .header__item:hover {
                span {
                    box-shadow: 0px 0px 0px 0.3px white; 
                }
            }
        }
    }
    
    &__bottom {
        display: flex;
        justify-content: space-between;
        .footer__list {
            width: 730px;
            display: flex;
            justify-content: space-between;

            .footer__item {
                width: 350px;
                font-family: 'Jost', sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
                text-align: left;
                color: $white;
    
                p {
                    font-weight: 400;
                }
            }
        }


        .footer__icons-list {
            display: flex;
            align-items: end;

            .footer__icons-item {
                margin-left: 16px;
            }

            .footer__icons-item:hover {
                svg path {
                    fill: #ffad9b;
                }
            }
        }       
    }

    @media only screen and (max-width: 768px) {
        padding-top: 86px;
        padding-bottom: 80px;
        
        &__top {
            .footer__header-container {
                padding-top: 80px;
                background-position: left calc(50% + 20px);
            }
        }
        
        &__bottom {
            display: flex;
            justify-content: space-between;
            .footer__list {
                max-width: 456px;
                width: 100%;
                display: flex;
                justify-content: space-between;
    
                .footer__item {
                    max-width: 223px;
                    width: 100%;
                }
            }
        }
    }
}