.footer {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: $black;

    &__top {
        .footer__header-container {
            padding-top: 72px;
            padding-bottom: 40px;
            border-bottom: 0.5px solid $white;
    
            img {
                width: 202px;
                height: 27px;
            }
    
            .header__item {
                color: $white;
            }
        }
    }

    &__bottom {

    }
}