.link {
    display: inline-block;
    width: 155px;
    height: 56px;
    padding: 16px 25px;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.68px;
    letter-spacing: 1px;
    text-align: left;
    border-radius: 10px;

    &__on-dark {
        background-color: $white;
        color: $dark_gray;
    }
   

}
