.main {
    background-image: url('./../../images/background-of-site1.svg'), url('./../../images/background-of-site2.svg');
    background-repeat: no-repeat;
    background-position: calc(50% - 220px) 250px, calc(50% + 220px) 1650px;
}

@media only screen and (max-width: 768px) {
    .main {
        background-image: none;
    }
}